body{
    margin: 0 auto;
    max-width: 40em;
	width: 88%;
    background-image: url(picture/about.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;

    
}
.mp{
    text-align: center;
    line-height: 1.6;
}