html{
    overflow-x: hidden !important;
  }

body{
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    margin: 0 auto; 
    background-size: 100%;
    background-position: center 0;
    
}
img.body{
    
}
.mh {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }

.j-m1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}
.h1{
    font-size: 3vw;
    letter-spacing: 2px
}
.j-mp{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*text-align: center;*/
    /*line-height: 1.6;*/
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 60%;
    column-count: 3;
    
}

.lesson{
    padding: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin: 10% 10% 0px 10%;
    /*border:1px solid white;*/
    background-color: rgba(0, 0, 0, 0.083);
    border-radius: 20px;
}

.lesson2{
    padding: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin: 0% 10% 0px 10%;
    
    
    /*border:1px solid red;*/
    background-color: rgba(0, 0, 0, 0.083);
    border-radius: 20px;

    
}

.lesson3{
    padding: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin: 10% 10% 0px 10%;
    
    
    border:1px solid green;
    
}

.button{
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 4% ;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 4px 2px;
  cursor: pointer;
  
}
.course_name{
    font-size: 1.6vw;
}

footer{
    display: flex;
  align-items: center;
  justify-content:center;
   width: 100%;
   height: 50px;
   background-color: rgb(189, 169, 169);
   text-align: center;
   vertical-align: middle;
   color: rgb(255, 219, 219);

}